body{
    margin: 0;
}
/*ЛЮДЕЙ ОНЛАЙН*/
#online{
    background: url(/images/online.png);
    color: #fff;
    width: 113px;
    height: 37px;
    text-align: center;
    line-height: 45px;
    position: fixed;
    z-index: 1000;
    right: -39px;
    top: 400px;
    cursor: help;
    transform: rotate(270deg);
}
#people{
    margin:0;
    font-family: Arial, Tahoma, "Times New Roman", "Trebuchet MS", Impact, sans-serif;
    font-size: 23px;
    margin-right: -18px;
    font-weight: 600;
    letter-spacing: 0px;
}
/*ПОМОЩЬ И ТЕХПОДДЕРЖКА*/
.help{
    height: 17px;
    top: 300px;
    z-index: 1000;
    position: fixed;
    left: -40px;
    line-height: 17px;
    padding: 10px;
    background: #38A247;
    transform: rotate(90deg);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma, "Comic Sans MS", "Monaco CY", cursive;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    border-radius: 7px 7px 0 0;
    border: 2px solid #ffffff;
}
.help a{
    text-decoration: none;
    color: #FFE419;
    text-shadow: 0 1px 1px rgba(0,0,0,0.56);
}
.help:hover{
    background: #007F0E;
}
.help .x{
    color: #e32636;
    cursor: pointer;
    font-size: 12px;
}
#support{
    top: 450px;
    left: -65px;
}
#support a{
    color: white;
}
/*КНОПКА ВВЕРХ*/
.up{
    position: fixed;
    bottom: 60px;
    right: 1px;
    cursor: pointer;
    display: none;
}
/*КНОПКА ВНИЗ*/
.down{
    position: fixed;
    bottom: 20px;
    right: 1px;
    cursor: pointer;
}
/*ШАПКА*/
.header_block{

    background-image: url(/images/bg-header.png);
    height: 120px;
    width: 100%;
    min-width: 1100px;
}
/*ЛОГОТИП*/
.header_block header{
    height: 90px;
    max-width: 75%;
    margin-left:12.5%;
    margin-right:12.5%;
}
/*РЕКЛАМА*/
.header_block header .adv{
    width: 480px;
    height: 70px;
    float: right;
    margin-top: 7px;
}
/*МЕНЮ*/
menu{
    height: 30px;
    max-width: 75%;
    margin-left:12.5%;
    margin-right:12.5%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
menu ul{
    margin: 0;
    padding: 0;
    vertical-align: center;
    padding: 5px 0px;
}
menu li{
    list-style: none;
    display: inline;
    padding: 0px 7px;
}
menu li a {
    font: 13px tahoma, sans-serif;
    text-shadow:1px 1px 1px #376603;
    text-decoration: none;
    color: white;
}
/*.active{
    color: yellow;
}*/
menu li a:hover{
    color: yellow;
}
/*КОНТЕНТ БЛОК 3 колонки*/
.content_block{
    display: flex;
    min-width: 1100px;
    margin-top: 10px;
    justify-content: center;
}
/*ЛЕВАЯ КОЛОНКА*/
.left{
    display: block;
    width: 200px;
    font: 14px Tahoma, Arial, "Times New Roman", "Trebuchet MS", Impact,sans-serif;
}
/*СТАТИСТИКА*/
.left .statistika{
    width: 200px;
    background-image: url(/images/reg_log_bg.png);
    height: 40px;
    background-position: 0 -160px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
    color: #008000;
    padding-top: 3px;
}
.left .statistika .st{
    color: #ff8000;
    font-size: 14px;
}
/*РЕГИСТРАЦИЯ*/
.left .reg{
   background-image: url(/images/reg_log_bg.png);
    height: 40px;
    margin-bottom: 5px;
}
.left .reg:hover{
    background-position: 0 -40px;
}
/*ВХОД*/
.left .login{
    background-image: url(/images/reg_log_bg.png);
    height: 40px;
    background-position: 0 -80px;
    margin-bottom: 15px;
    cursor: pointer;
}
.left .login:hover{
    background-position: 0 -120px;
}
/*БАНЕР 100х100*/
.left .baner{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    height: 190px;
    border-radius: 6px;
}
.left .baner h1{
    font-weight: normal;
    background: -webkit-linear-gradient(top, #FFFFFF 0px, #E4E4E4 100%);
    font-size: 14px;
    padding: 7px 0px;
    color: #27A011;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
}
.left .baner_content{
    height: 111px;
    text-align: center;
    display: block;
    padding-bottom: 10px;
    padding-top: 8px;
}
.banner_bt{
    text-align: center;
    color: #135b11;
}
.banner_bt a{
    font-size: 11px;
    text-decoration: none;
    color: #135b11;
}
.banner_bt a:hover {
    color: #E57C00;
}
.data{
    margin-top: 10px;
   text-align: center;
    color: #f0f0f0;
    text-align: center;
    text-shadow: 1px 1px 0px #444444;
    font-size: 15px;
}
/*СРЕДНЯЯ КОЛОНКА*/
.content{
    margin: 0px 10px;
    display: block;
    width: 600px;

}
.zagolovok{
    font-weight: normal;
    background: -webkit-linear-gradient(top, #FFFFFF 0px, #E4E4E4 100%);
    font-size: 14px;
    padding: 5px 0px;
    color: #27A011;
    text-align: center;
    margin:0;
    font-family: Tahoma, Arial, "Times New Roman", Times, serif;
}
.name_block{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 0px 0px;
    padding: 5px 0 5px 0;
}
.content .content_zagolovok{
    color: #ffffff;
    background: #F7931A;
    margin: 10px 10px;
    padding: 10px 0px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.56);
    font-size: 12px;
    text-align: center;
}
.content span{
    color: #00915E;
    font-size: 16px;
    font-weight: bold;
}
.content .content_text{
    padding: 5px 10px 5px 20px;
    color: #006699;
    font-size: 14px;
}
.content .big_img{
    width: 64px;
    height: 64px;
}
.hochy{
    display: inline-block;
    min-width: 180px;
    line-height: 40px;
    padding: 0 25px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.56);
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    border: 1px solid;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255,0.15) inset;
    background: linear-gradient(to bottom, #42ba47 0%,#4caf50 100%);
    border-color: #49aa20 #439e1c #3b9017 #439e1c;
}
/*ПРАВАЯ КОЛОНКА*/
.right{
    display: block;
    width: 200px;

}
.name_block{
    border-radius: 6px;
}
.link{
    height: 400px;
    padding: 7px;
    font: 12px Tahoma, Arial, "Times New Roman", "Trebuchet MS", Impact,sans-serif;
}
.link a{
    text-decoration: none;
    color: #114C5B;
    font-size: 11px;
}
.link a span{
    color: #C80000;
    font-size: 12px;
}
#link_bt{
    font: 14px Tahoma, Arial, "Times New Roman", "Trebuchet MS", Impact,sans-serif;
}
.right hr{
    border: 0;
    height: 1px;
    background-color: #CCC;
}
.adv_right{
    height: 200px;
}
/*ФУТЕР*/
footer{
    border-top: 1px solid #C7E2BE;
    height: 76px;
    background: #Dff8D6;
    background: -webkit-linear-gradient(top, #Dff8D6 0px, #C3E3B9 100%);
    display: flex;
    min-width: 1100px;
    justify-content: space-around;
    align-items: center;
}
footer .schetchik a{
    opacity:0.4;
}
footer .schetchik a:hover{
    opacity:1;
}
footer .textf a{
    color: #135b11;
    text-decoration: none;
    font-size: 13px;
}
/*СТРАНИЦА LOGIN.PHP*/
.register_switch{
    background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
    height: 25px;
    padding: 4px;
}
.zag{
    color: #C80000;
    font-weight: bold;
}
label {
    color: white;
    text-align: center;
    float: left;
    line-height: 25px;
    width: 33%;
    cursor: pointer;
    font-family: Arial;
}
label img{
    height: 16px;
    width: 16px;
}
label:first-child{
    background-Image:linear-gradient(to bottom, #fefefe, #eeeeee);
    color:#434248;
}
.login_block1 table{
    width: 100%;
}
.login_block1 td:first-child{
    width: 50px;
}
td{
    color:  #114C5B;
}
.tx{
    line-height: 4em;
    font-family: Tahoma, Arial, "Times New Roman", "Trebuchet MS", Impact, sans-serif;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px, rgb(170, 170, 170) 1px 2px 2px;
    font-size: 14px !important;
    font-weight: 700;
}
.login_block1 .refresh{
    width: 16px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.login_block1 input{
    height: 21px;
   float: right;
    width: 250px;
    border: 1px solid  #D3D3D3;
    padding: 3px 5px 3px 5px;
    margin: 10px 0px 10px 0px;
    background-color:  #F9F9F9;
}
.login_block1 hr{
    width: 100%;

}
.login_block2{
    display: none;
}
.login_block3{
    display: none;
}

#vopros{
    font-size: 14px;
    color:  #114C5B;
    font-weight: normal;
}
#vxod{
    background: #65AB34;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    line-height: 0em;
    cursor: pointer;
    margin:0;
}
#vxod:hover{
    background: #52991D;

}
#crash{
    color: red;
}
/*СТРАНИЦА ERN.PHP*/
.ern_text{
    text-align: justify;
    padding: 5px 10px 5px 10px;
    color: #114c5b;
    font: 13px Tahoma, Arial, "Times New Roman", "Trebuchet MS", Impact,sans-serif;
}
.ern_text span{
    color: #00915E;
    font-size: 13px;
}